button.plus{
    transform: scale(1.3);
    margin-left: 8px;
}
p.p1{
    background-color: #008080;
    color: white;
    border-radius: 5px;
    width: 250px;
    height: 48px;
    align-content: center;
}
.saved {
    display: inline-block;
    background-color: #7d6a98;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    margin-inline: 10px;
    border-radius: 5px;
}
.start button{
    margin-top: 60px;
    margin-left: 10px;
    transform: scale(1.2);
}