h1.year_title{
    display: inline-block;
    background-color: darkcyan;
    text-align: center;
    border-radius:5px;
    padding: 5px 8px;
    color: white;
}
input[type="checkbox"]{
    transform: scale(3);
    margin: 10px;
}
p{
    font-family: "Times New Roman", serif;
    font-size: x-large;
}
table, th, td{
    border: 1px solid black;
}